<% unless comment.archived? %>
  <div class="mb-0">
    <div class="p-2">
      <div class="d-flex justify-content-between align-items-center">
      <div>
        <h5><%= comment.commenter %></h5>
        <p class="card-text"><%= comment.body %></p>
      </div>

        <small class="text-muted">
          <%= link_to "Delete", [comment.article, comment],
            class: "btn btn-sm btn-outline-danger",
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </small>
      </div>
    </div>
  </div>

  <% unless defined?(comment_iteration) && comment_iteration.last? %>
    <hr class="my-2">
  <% end %>
<% end %>
